<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/trix.css">
    <script type="text/javascript" src="/js/trix.js"></script>
  </head>

  <body>
    <script type="text/javascript">
      var inflections = <%= inflections %>;
    </script>
    <trix-editor></trix-editor>
  </body>
</html>

