<html>

  <head>
    <title>Neil's Idea</title>
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/trix.css">
    <link rel="stylesheet" href="/css/main.css">
    <script>var inflections_map = <%= @inflections_map %></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/trix.js"></script>
    <script type="text/javascript" src="/js/editor.js" defer></script>
  </head>

  <body>
    <div class="editing-area">
      <button class="search-button" id="main-search-button">&#x1F50E</button> 
      <div class="search-container">
        <input id="search-box" class="search-box" name="searchText">
        <div class="search-arrow-button-container">
          <button id="search-up" class="search-arrow">&#8593;</button>
          <button id="search-down" class="search-arrow">&#8595;</button>
        </div>
      </div>
      <trix-editor></trix-editor>
    </div>
  </body>
</html>
