<html>
  <head>
    <title>Neil's Text Tool</title>
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Mukta">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/trix.css">
    <link rel="stylesheet" href="/css/main.css">
    <script>
      const inflectionsMap = <%== @inflections_map_json %>;
      const headwords = <%== @headwords_json %>;
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/trix.js"></script>
    <script type="module" src="/js/editor.js"></script>
  </head>

  <body>
    <div class="search-icon-container">
      <input class="search-icon" type="image" src="/images/search-icon.png"></input> 
    </div>
    <div class="search-box-container">
      <input id="search-box" class="search-box" name="searchText">
      <div class="search-arrow-button-container">
        <button id="search-up" class="search-arrow">&#8593;</button>
        <button id="search-down" class="search-arrow">&#8595;</button>
      </div>
    </div>
    <div class="layout-row1">
      <trix-editor></trix-editor>
      <div class="my-list">
        <p class="section-title">My List</p>
      </div>
      <div class="official-list">
      </div>
    </div>
  </body>
</html>
