<!DOCTYPE html>
<html>
  <head>
    <title>Neil's Text Tool</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Mukta">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/trix.css">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/trix.js"></script>
    <script type="module" src="/js/main.js"></script>
  </head>

  <body>
    <div id="layout-row0">
      <p id="page-title"><strong>Neil's Text Tool</strong></p>
      <div id="new-headwords-uploader">
        <span>Welcome to <strong>Neil's Text Tool</strong>.  Choose headwords for new session: </span> 
        <label class="custom-file-load-button">
          <input id="headwords-file-upload" name="file" type="file">
          <span>Choose file</span>
        </label>
      </div>
      <span id="recovery-message">
        Or click here to recover an autosaved session
      </span>
      <div id="recovery-list">
      </div>
      <div id="new-headwords-wait-message"></div>
      <div class="search-icon-container">
        <input class="search-icon" type="image" src="/images/search-icon.png">
      </div>
      <div class="search-box-container">
        <input id="search-box" class="search-box" name="searchText">
        <div class="search-arrow-button-container">
          <button id="search-up" class="search-arrow">&#8593;</button>
          <button id="search-down" class="search-arrow">&#8595;</button>
        </div>
      </div>
    </div>

    <div class="layout-row1">
      <trix-editor></trix-editor>
      <div class="special-lists">
        <ul class="section-titles">
          <li id="auto-list-title" data-cy="auto-list-title">Auto List</li>
          <li id="my-list-title" data-cy="my-list-title">My List</li>
          <li id="assumed-list-title" data-cy="assumed-list-title">Assumed Words</li>
        </ul>
        <div class="auto-list"></div>
        <div class="assumed-list"></div>
        <div class="my-list"></div>
      </div>
      <div class="official-list">
        <p class="section-titles">Official List</p>
      </div>
    </div>
  </body>
</html>
