<html>
  <head>
    <title>Neil's Text Tool</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Mukta">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/trix.css">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/trix.js"></script>
    <script type="module" src="/js/main.js"></script>
  </head>

  <body>
    <div id="layout-row0">
      <p id="page-title"><strong>Neil's Text Tool</strong></p>
      <div id="new-headwords-form-container">
        <form id="file-form" action='/' enctype="multipart/form-data" method='POST'>
          <span>Welcome to <strong>Neil's Text Tool</strong>.  Choose headwords for new session: </span> 
          <label for="file-upload" class="custom-file-upload">
              Choose File
          </label>
          <input id="file-upload" name="file" type="file" />
          <!-- <input type="submit" value="Upload" /> -->
        </form>
      </div>
      <span id="recovery-message">
        Or click here to recover an autosaved session
      </span>
      <div id="recovery-list">
      </div>
      <div id="new-headwords-wait-message">Processing headwords</div>
      <div class="search-icon-container">
        <input class="search-icon" type="image" src="/images/search-icon.png"></input> 
      </div>
      <div class="search-box-container">
        <input id="search-box" class="search-box" name="searchText">
        <div class="search-arrow-button-container">
          <button id="search-up" class="search-arrow">&#8593;</button>
          <button id="search-down" class="search-arrow">&#8595;</button>
        </div>
      </div>
    </div>

    <div class="layout-row1">
      <trix-editor></trix-editor>
      <div class="my-list">
        <p class="section-title">My List</p>
      </div>
      <div class="official-list">
        <p class="section-title">Official List</p>
      </div>
    </div>
  </body>
</html>
