<!doctype html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
      <script>
       // This delay prevents firefox console "failed to load script" message
       setTimeout(() => {
        localStorage.setItem('inflectionsMap', JSON.stringify(<%== @inflections_map_json %>));
        localStorage.setItem('headwords', JSON.stringify(<%== @headwords_json %>));
        const currentURL = location.href;
        location.replace(currentURL + 'main');
       }, 200)
      </script>
  </head>
  <body>
  </body>
</html>
