body {
    margin: 2px;
}

strong, b, strong *, b * {
    font-weight: bold;
}

em, i, em *, i * {
    font-style: italic;
}

.searchArrow {
    background: none;
    color: inherit;
    border: none;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
}

.searchBorder {
    border: 1px solid #bbb;
    border-radius: 0px;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    padding: 0 1%;
}

.searchBox {
    border: none;
}
